@import "../config";

@include screen(tablets) {
  .gallery {
    .gallery-container {
      text-align: center;
      width: 95%;

      &__item {
        &--img {
          width: 98%;
        }
      }

      &__link {
        font-size: 1rem;
        width: 50%;
      }
    }
    .next_slide,
    .prev_slide {
      display: none;
    }
    .video-container{
        max-width: 90%;
    }
  }

  .modal {

    &__next{
      top: 60%;
    }

    &__prev{
      top: 60%;
    }

    &__exit{
      font-size: 3.5rem;
    }

    &__img {
        margin-top: 7rem;
        width: 96%;
    }
  }
}
