@include screen(tablets) {

    .contact {
        grid-template-columns: 1fr;
        gap: 20px;

        .socials_container {
            &__title {
                font-size: 2.5rem;
                padding-bottom: 0.2rem;
            }
        }

        .contact_container {

            &__title {
                font-size: 2.5rem;
                padding-bottom: 0.2rem;
            }
        }
    }
}

@include screen(phones){

    .contact{
        margin-bottom: 1rem;
        .contact_container{

            &__link{
                position: relative;
                font-size: 0;

                &::after{
                    content: '@';
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: #fff;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);

                }
            }
        }
    }
}