@import "../config";

@include screen(tablets) {
  .gallery {
    overflow: hidden;

    .gallery-container {
      text-align: center;
      width: 99%;

      .gallery_main {

        &__item {
          padding: 0 5px;

          &--img {
            width: 100%;
          }
        }

        &__link {
          font-size: 1rem;
          width: 50%;
        }
      }
    }

    .next_slide,
    .prev_slide {
      display: none;
    }

    .video-container {
      grid-template-columns: 90%;
    }
  }

  .modal {

    &__next {
      top: 60%;
    }

    &__prev {
      top: 60%;
    }

    &__exit {
      font-size: 3.5rem;
    }

    &__img {
      margin-top: 7rem;
      width: 96%;
    }
  }
}