@import '../config';

@include screen(tablets){
.about{
    padding-top: 3rem;
    grid-template-columns: 97%;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    .about__members{

        &--img{
            width: 50%;
            height: auto;
        }

        span{
            font-size: 1rem;
        }
    }
}
}