@include screen(tablets){
    .main{
        & > h2{
            font-size: 2rem;
            margin: 1rem auto 3rem auto;
        }
        & > a {
            font-size: 2.5rem;
            left: 50%;
            transform: translate(-50%);
            top: 3.5%;
        }
    .gallery-main{
        grid-template-columns: 45% 45%;
    }
}
}
@include screen(tablets){
#title{
    margin-top: 3rem;
    width: 90%;
}

#back-btn{
    left: 50%;
    transform: translate(-50%);
    top: 1rem;
}
}