@import './config', './nav', './title', './about', './paralex', './responsive/res-about', './audio'
, './scroll' , './main-side-gallery', './contact', './gallery', './footer', './responsive/res-nav', 
'./responsive/res-title', './responsive/res-audio', './responsive/res-main-side-gallery', 
'./responsive/res-contact', './responsive/res-gallery', './cookies', './responsive/res-cookies','./background-animation';

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    background: $main-background-color;
    max-width: 100%;
    overflow-x: hidden;
}
// body::-webkit-scrollbar {
//     display: none;
// }
header{
    position: relative;
    width: 100%;
    padding: 1rem;
    @include smooth;

    &.open{
        padding: 0%;
    }
}
main{
    height: 100%;
    width: 100%;
}

h1, h2, h4, p, button{
    color: $main-font-color;
}
a{
    color: $main-font-color;
    text-decoration: none;
}

header :is(ul){
    list-style: none;
}

.stopScroll{
    overflow: hidden;
}
